{% extends "header.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block dashboardcollapsed %}collapsed{% endblock dashboardcollapsed %}
{% block routecollapsed %}collapsed{% endblock routecollapsed %}
{% block verificationcollapsed %}collapsed{% endblock verificationcollapsed %}
{% block paymentcollapsed %}collapsed{% endblock paymentcollapsed %}
{% block generatecollapsed %}collapsed{% endblock generatecollapsed %}

{% block body %}
{{college_data}}




  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Users</li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="static/student_assets/img/blank_profile_picture.jpg" alt="Profile" class="rounded-circle">
              <h2>{{ student_data.name }}</h2>
              <h3></h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Profile Details</h5>
                  
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ student_data.name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Father's Name</div>
                    <div class="col-lg-9 col-md-8">{{ student_data.fathername }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">College Name</div>
                    <div class="col-lg-9 col-md-8">Web Designer</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Roll Number</div>
                    <div class="col-lg-9 col-md-8">{{ student_data.roll }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Course Name</div>
                    <div class="col-lg-9 col-md-8">{{ student_data.course }}</div>
                  </div>
                  
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form action="{% url 'profile' %}" method ="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="static/student_assets/img/profile-img.jpg" alt="Profile">
                        <div class="pt-2">
                          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="name" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="name" type="text" class="form-control" id="name" value="" placeholder="Your Full Name">
                      </div>
                    </div>

                    <div class="row mb-3">
                        <label for="name" class="col-md-4 col-lg-3 col-form-label">Father's Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="fathername" type="text" class="form-control" id="fathername" value="" placeholder="Your Father's Name">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="college" class="col-md-4 col-lg-3 col-form-label">College Name</label>
                        <div class="col-md-8 col-lg-9">
                          

                          <select class="form-select" aria-label="Default select example" name="collegename" id="collegename">
                            <option>College Select</option>
                            {% for x in college_data %}
                              <option value="{{ x.college_id }}">{{ x.name }}</option>
                            {% endfor %}
                          </select>


                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="college" class="col-md-4 col-lg-3 col-form-label">Roll Number</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="roll" type="text" class="form-control" id="roll" value="" placeholder="Your College/University Roll No. / Registration No.">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="college" class="col-md-4 col-lg-3 col-form-label">Course Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="course" type="text" class="form-control" id="course" value="" placeholder="Your Course">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="college" class="col-md-4 col-lg-3 col-form-label">Aadhar Number</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="aadhar" type="text" class="form-control" id="aadhar" value="" placeholder="Your Aadhar No.">
                        </div>
                    </div>

                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Previous Pass</legend>
                        <div class="col-sm-10">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="previous_pass" id="gridRadios1" value="1">
                            <label class="form-check-label" for="gridRadios1">
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="previous_pass" id="gridRadios2" value="0">
                            <label class="form-check-label" for="gridRadios2">
                              No
                            </label>
                          </div>
                        </div>
                    </fieldset>

                    <div class="row mb-3">
                        <label for="college" class="col-md-4 col-lg-3 col-form-label">Pass Number</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="pass_number" type="text" class="form-control" id="pass_number" value="" placeholder="Previous Pass Number">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Aadhar Upload</label>
                        <div class="col-sm-10">
                          <input class="form-control" type="file" id="formFile" name="aadhar_photo" >
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputNumber" class="col-sm-2 col-form-label">Photo Upload</label>
                        <div class="col-sm-10">
                          <input class="form-control" type="file" id="formFile" name="photo">
                        </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock body %}
