{% extends "college_header.html" %}
{% load static %}
{% block link %}/college_dashboard{% endblock link %}
{% block title %}Dashboard{% endblock title %}
{% block header %}College Dashboard{% endblock header %}

{% block dashboardcollapsed %}collapsed{% endblock dashboardcollapsed %}
{% block verificationcollapsed %}collapsed{% endblock verificationcollapsed %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Verified</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Verified Student</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Student Having Pass</h5>
  
                <!-- Table with hoverable rows -->
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Student Name</th>
                      <th scope="col">Roll no.</th>
                      <th scope="col">Course</th>
                      <th scope="col">From</th>
                      <th scope="col">To</th>
                      <th scope="col">Distance</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><a href="#">Farah Khan</a></td>
                      <td>202214011</td>
                      <td>MCA</td>
                      <td>Patiala</td>
                      <td>Nabha</td>
                      <td>28 km</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><a href="#">Raj Singh</a></td>
                        <td>202214052</td>
                        <td>B.Tech</td>
                        <td>Patiala</td>
                        <td>Barnala</td>
                        <td>12 km</td>
                      </tr>
                  </tbody>
                </table>
                <!-- End Table with hoverable rows -->
  
              </div>
            </div>
        </div>
      </section>

</main><!-- End #main -->

 {% endblock body %}